header{
    background-color:black;
}
a.headertext{
    background-color: salmon;
}
.abttxt{
    background-color: gray;
    text-align: center;
    height: 120vh;
    width: 150vh;
    margin: 70px 70px 70px 120px;
}
.eduqua{
    background-color: green;
    text-align: center;
    height: 125vh;
    width: 150vh;
    align-items: center;
    margin: 70px 70px 70px 120px;
}
.Skandhobby{
    background-color: blue ;
    text-align: center;
    height: 130vh;
    width: 150vh;
    align-items: center;
    margin: 70px 70px 70px 120px;
}



footer{
    background-color: purple;
    margin: 0;
    padding: 0;
}







